* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: black;
    display: flex;
    justify-content: space-between;
    height: 75px;
    color: white;
}

.header_title {
    font-size: 45px;
    padding: 0 0 0 10px;
}

.header_btn_basket {
    display: block;
    color: black;
    width: 100px;
    height: 35px;
    margin: 22px;
    background: white;
}

.products {
    display: flex;
}

.product_item {
    border: 1px solid darkgray;
    margin: 20px;
}

.product_item:first-child {
    margin: 20px 20px 20px 0;
}

.product_item h3 {
    margin: 10px 0;
}

.by_btn {
    margin: 10px 0;
}
.product_item img {
    margin: 0;
}
